{% extends 'base.html' %}
{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h1 style="color: #0d6efd;">Timeline:</h1><br/>
                {% for tweet in tweets %}
                    <div class="alert alert-dark" 
                    style="background-color: white;
                    " role="alert">
                        {{ tweet.body }}<br/>
                        <small class="text-muted">
                            ({{ tweet.created_at }}) por @{{ tweet.user.username }}
                        </small>
                    </div><br/>
                {% endfor %}
        </div>
        <div class="col-4"><br/><br/><br/>
            {% if form %}
                <form method=POST>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Postar!</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}