<nav class="navbar navbar-expand-lg navbar-dark "  style="background-color: #1483d2" >
    <div class="container-fluid ">
      <a class="navbar-brand " href="{% url 'home'%}"><img src="https://img.icons8.com/?size=100&id=437&format=png&color=000000" alt="" style="width: 50px; height: 50px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style=" display: flex;
        justify-content: center;
        width: 100%;">
  
          <li class="nav-item ga ">
            <a class="nav-link fs-3 text-white" href="{% url 'profile_list' %}">Usuários</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link fs-3 text-white" href="{% url 'profile' request.user.id %}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-3 text-white" href="{% url 'logout'  %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link fs-3 text-white" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-3 text-white" href="{% url 'register' %}">Cadastrar</a>
            </li>
          {% endif %}
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>